.mood-and-genres-data-page {
  .subheading {
    font-size: 22px;
    margin-bottom: 15px;
    font-family: "YtSans";
    color: rgba($whiteFirstLayer, 1);
  }
  .content {
    justify-content: left;
    margin-bottom: 40px;
  }
}
